<app-button [animation]="false">
    <div *ngIf="type == 'basic'" (click)="back()">
        <img src="assets/svg/back.svg" type="image/svg+xml">
    </div>
    <div *ngIf="type == 'menu' || type == 'menu-settings' || type == 'menu-filter-discover'" (click)="open()">
        <img src="assets/svg/menu.svg" type="image/svg+xml">
    </div>
</app-button>
<div class="user _FONT" *ngIf="users">
    <div class="image" [ngClass]="{double: users.avatares.length == 2, triple: users.avatares.length == 3, quad: users.avatares.length > 3}">
        <img *ngFor="let avatar of users.avatares" [src]="avatar"/>
    </div>
    <div class="info">
        <p class="name _FONT" *ngIf="users.name">{{users.names}}</p>
        <p class="status _FONT" *ngIf="users.status">{{users.msg}}</p>
    </div>
</div>
<p class="text _FONT" *ngIf="title">{{title}}</p>
<app-button [animation]="false">
    <div *ngIf="type == 'menu-settings'" [routerLink]="['/private/settings']">
        <img src="assets/svg/options.svg" type="image/svg+xml">
    </div>
    <div *ngIf="type == 'menu-filter-discover'" (click)="filtersDiscover('')">
        <img src="assets/svg/options.svg" type="image/svg+xml">
    </div>
</app-button>