:host{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    button, button .container{
        height: inherit;
        position: relative;
        width: 100%;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
        align-content: inherit;
        justify-items: inherit;
        text-transform: inherit;
        z-index: 1;
    }
    .circle{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100vh;
        height: 100vh;
        transform: translateZ(0) translate(-50%, -50%) scale(0);
        pointer-events: none;
        background-color: rgba(0,0,0,0.2);
        z-index: 2;
        border-radius: 100%;
        opacity: 1;
        &.active{
            transform: translateZ(0) translate(-50%, -50%) scale(1);
            transition: opacity 300ms ease-in 0ms, transform 200ms ease-in 0ms;
            opacity: 0;
        }
    }
}