.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5vw;
    
    app-card-person{
        width: 100%;
        margin-bottom: 3vw;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    
    app-card-person{
        width: calc(50% - 1.5vw);
        margin-bottom: 3vw;

        &:nth-last-child(1), &:nth-last-child(3){
            margin-bottom: 0;
        }
    }
}