<div class="container" [ngClass]="{compact: compact}">
  <div class="header">
    <div class="img">
      <app-img [src]="cover"></app-img>
    </div>
    <div class="icons">
      <img src="assets/svg/camera.svg">
      <img src="assets/svg/heart.svg">
    </div>
  </div>
  <app-user-info [compact]="compact" [avatar]="avatar" [name]="name" [type]="type" [rating]="rating" [views]="views" [likes]="likes"></app-user-info>
</div>