:host{
    transform: translateZ(0);
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 0 0 2vw 0 rgba(0,0,0,0.3);
        border-radius: 1vw;
        overflow: hidden;
    
        &.compact{
            .header{
                .icons{
                    bottom: auto;
                    top: 0;
                    padding: 4vw;
                }
            }
        }
    
        .header{
            width: 100%;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgba(0,0,0,0.4) 0, rgba(0,0,0,0) 50%);
            }
            .img{
                position: relative;
                width: 100%;
                height: 45vw;
                app-img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .icons{
                position: absolute;
                width: 100%;
                padding: 7vw;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                z-index: 3;
                justify-content: space-between;
                img{
                    object-fit: contain;
                    height: 6vw;
                    width: 6vw;
                    margin-right: 1.5vw;
                }
            }
        }
    }
}


