<div class="container" [ngClass]="{open: open}" [ngSwitch]="component">



      
      <div class="zoom" *ngSwitchCase="'zoom'" [ngClass]="{active: open}">
            <div class="items" *ngIf="scope" [carousel]="{cellAlign: 'left',pageDots: false,prevNextButtons: false,setGallerySize: false,percentPosition: true,contain: true,freeScroll: false}">
                  <div class="item" carouselItem *ngFor="let src of scope">
                       <app-img type="contain" [src]="src"></app-img>
                  </div>
            </div>
      </div>


      <app-content class="list" *ngSwitchCase="'attachments'" [ngClass]="{active: open}">
            <div class="list_content">
                  <div class="header">
                        <div>

                        </div>
                        <div>
                              <p class="title _FONT">Anexar</p>
                        </div>
                        <div>
                              <app-button class="_FONT" (click)="close()">
                                    <object data="assets/svg/close.svg" type="image/svg+xml"></object>
                              </app-button>
                        </div>
                  </div>
                  <div class="scroll">
                        <app-button (click)="select('event')" class="_FONT" [animation]="true">Evento</app-button>
                        <app-button (click)="select('file')" class="_FONT" [animation]="true">Arquivo</app-button>
                  </div>
            </div>
      </app-content>

      <app-content class="form" *ngSwitchCase="'user-edit'" [ngClass]="{active: open}">
            <div class="form_content">
                  <div class="header">
                        <div>

                        </div>
                        <div>
                              <p class="title _FONT">Edit</p>
                        </div>
                        <div>
                              <app-button class="_FONT" (click)="close()">
                                    <object data="assets/svg/close.svg" type="image/svg+xml"></object>
                              </app-button>
                        </div>
                  </div>
                  <div class="scroll">
                        <app-form (send)="updateProfile($event)" (valid)="forms.user_edit.valid = true"
                              (invalid)="forms.user_edit.valid = false" [disabled]="forms.user_edit.disabled">
                              <app-fieldset title="Profile picture">
                                    <app-image-change name="avatar" type="compact">
                                    </app-image-change>
                              </app-fieldset>
                              <app-fieldset title="Cover picture">
                                    <app-image-change name="cover"></app-image-change>
                              </app-fieldset>
                              <app-fieldset title="Basic information">
                                    <!-- <app-input [value]="scope.nome" name="name" placeholder="Name" type="text"></app-input>
                                                <app-input [value]="scope.email" name="email" placeholder="E-mail" type="text"></app-input>
                        
                                                <app-input [value]="scope.telemovel" name="telemovel" placeholder="Phone" type="text"></app-input> -->





                                    <!-- <app-input name="name" placeholder="Professional since" type="text"></app-input>
                                                <app-input name="newsletter" placeholder="Professional profile visible" type="checkbox"></app-input>
                                                <app-input name="newsletter" placeholder="Agenda visible to everyone" type="checkbox"></app-input> -->

                              </app-fieldset>
                              <app-fieldset title="Cache information">
                                    <!-- <app-input name="name" placeholder="Cache" type="text"></app-input>
                                                      <app-input name="name" placeholder="Define value" type="text"></app-input>
                                                      <app-input name="name" placeholder="Additional info" type="text"></app-input>
                                                      <app-input name="newsletter" placeholder="Cache visible to everyone" type="checkbox"></app-input> -->

                              </app-fieldset>
                              <app-button type="submit" [animation]="true" class="_FONT"
                                    [ngClass]="{disabled: !forms.user_edit.valid}">
                                    save changes
                              </app-button>
                        </app-form>
                  </div>
            </div>
      </app-content>

      <app-content class="form" *ngSwitchCase="'filter-discover'" [ngClass]="{active: open}">
            <div class="form_content">
                  <div class="header">
                        <div>
                              <app-button class="_FONT">Clear</app-button>
                        </div>
                        <div>
                              <p class="title _FONT">Filters</p>
                        </div>
                        <div>
                              <app-button class="_FONT" (click)="close()">
                                    <object data="assets/svg/close.svg" type="image/svg+xml"></object>
                              </app-button>
                        </div>
                  </div>
                  <div class="scroll">
                        <app-form (send)="saveFilters($event)" (valid)="forms.filter_discover.valid = true"
                              (invalid)="forms.filter_discover.valid = false"
                              [disabled]="forms.filter_discover.disabled">
                              <app-fieldset>
                                    <app-input [value]="forms.filter_discover.values.search" name="slug"
                                          placeholder="Search for" type="text"></app-input>
                                    <app-input [value]="forms.filter_discover.values.id_tipo"
                                          (valueChange)="changeType($event)" name="id_tipo" placeholder="Type"
                                          type="select" [options]="customer_types"
                                          [disabled]="customer_types.length < 1"></app-input>
                                    <app-input [value]="forms.filter_discover.values.id_categoria"
                                          (valueChange)="changeCategory($event)" name="id_categoria"
                                          placeholder="Category" type="select" [options]="customer_categories"
                                          [disabled]="customer_categories.length < 1"></app-input>
                                    <app-input [value]="forms.filter_discover.values.id_subcategoria"
                                          name="id_subcategoria" placeholder="Sub-category" type="select"
                                          [options]="customer_subcategory" [disabled]="customer_subcategory.length < 1">
                                    </app-input>
                                    <app-input [value]="forms.filter_discover.values.id_cache" name="id_cache"
                                          placeholder="Cache" type="select" [options]="customer_cache"
                                          [disabled]="customer_cache.length < 1"></app-input>
                              </app-fieldset>
                              <app-button type="submit" [animation]="true" class="_FONT"
                                    [ngClass]="{disabled: !forms.filter_discover.valid}">
                                    APPY
                                    FILTERS</app-button>
                        </app-form>
                  </div>
            </div>
      </app-content>
      <div class="bg" (click)="close()"></div>
</div>