.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &.loader{
        opacity: 0.5;
        pointer-events: none;
    }
    .display{
        width: 100%;
        flex: 1;
        background-color: #EDEFF1;
        position: relative;
        .scroll{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 12vw 0;
            overflow-x: hidden;
            overflow-y: auto;
            .messages{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                min-height: 100%;
                position: relative;
                .item{
                    width: 100%;
                    position: relative;
                    &.left{
                        .component{
                            align-items: flex-start;
                            .border{
                                background-color: #ffffff;
                                .msg{
                                    .text{
                                        color: #4B4E58;
                                    }
                                }
                            }
                        }
    
                        .avatar{
                            right: auto;
                            left: 2vw;
                        }
                    }
                    .avatar{
                        position: absolute;
                        overflow: hidden;
                        border-radius: 100%;
                        background-color: #bebebe;
                        width: 8vw;
                        height: 8vw;
                        position: absolute;
                        right: 2vw;
                        bottom: 0vw;
                        app-img{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    .component{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-start;
                        padding: 0 12vw;
                        .border{
                            background-color: #3880F4;
                            border-radius: 1.4vw;
                            padding: 1vw;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: flex-start;
                            max-width: 67vw;
                            position: relative;
                            .qtd{
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                z-index: 2;
                                pointer-events: none;
                                .value{
                                    padding: 1.8vw 3.5vw;
                                    background-color: rgba(255,255,255,0.8);
                                    box-shadow: 0 0 1vw 0 rgba(0,0,0,0.9);
                                    border-radius: 4vw;
                                    color: #000000;
                                    font-size: 3.4vw;
                                }
                            }
                            .attachments{
                                width: 65vw;
                                height: 65vw;
                                position: relative;
                                border-radius: 1.4vw;
                                overflow: hidden;
    
     
    
                                &.double{
                                    .attachment:nth-child(1){
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 50%;
                                    }
                                    .attachment:nth-child(2){
                                        left: 0;
                                        top: 50%;
                                        width: 100%;
                                        height: 50%;
                                    }
                                }
                    
                                &.triple{
                                    .attachment:nth-child(1){
                                        left: 0;
                                        top: 0;
                                        width: 50%;
                                        height: 50%;
                                    }
                                    .attachment:nth-child(2){
                                        left: 50%;
                                        top: 0;
                                        width: 50%;
                                        height: 50%;
                                    }
                                    .attachment:nth-child(3){
                                        left: 0;
                                        top: 50%;
                                        width: 100%;
                                        height: 50%;
                                    }
                                }
                    
                                &.quad{
                                    .attachment:nth-child(1){
                                        left: 0;
                                        top: 0;
                                        width: 50%;
                                        height: 50%;
                                    }
                                    .attachment:nth-child(2){
                                        left: 50%;
                                        top: 0;
                                        width: 50%;
                                        height: 50%;
                                    }
                                    .attachment:nth-child(3){
                                        left: 0;
                                        top: 50%;
                                        width: 50%;
                                        height: 50%;
                                    }
                                    .attachment:nth-child(4){
                                        left: 50%;
                                        top: 50%;
                                        width: 50%;
                                        height: 50%;
                                    }
                                }
    
    
                                .attachment{
                                    object-fit: cover;
                                    object-position: center;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    &.load{
                                        opacity: 0.3;
                                    }
                                    
                                    app-img{
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
    
    
                            }
                            .msg{
                                padding: 2vw 3vw;
                                display: inline-block;
                                .text{
                                    text-align: right;
                                    color: #ffffff;
                                    line-height: 1.4;
                                    font-size: 3.4vw;
                                }
                            }
                        }
    
                    }
                    &:not(:last-child){
                        margin-bottom: 1.5vw;
                    }
                }
            }



        }
    }
    .footer{
        height: 15vw;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vw;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.3);
        form{
            flex: 1;
            input{
                height: 15vw;
                color: #4B4E58;
                width: 100%;
            }
        }
        .interaction{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 5vw;
            app-button{
                width: 7vw;
                &:not(:last-child){
                    margin-right: 3vw;
                }
             
                object{
                    width: 100%;
                    padding: 1vw;
                }
            }
        }
    }

    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .attachments{
            position: absolute;
            bottom: 18vw;
            left: 3vw;
            width: 94vw;
            background-color: #ffffff;
            border-radius: 2vw;
            box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.3);
            padding: 5vw;
            z-index: 2;
        }
    }
}