<app-view [users]="{
  avatares: avatares,
  names: names,
  msg: 'Ativo agora'
}">
  <div class="container" *ngIf="chat" [ngClass]="{loader: loader}">
    <div class="display">
      <div class="scroll" #scroll>
        <div class="messages">
            <ng-container *ngFor="let item of chat.messages;let i = index">
                <div class="item"
                  *ngIf="chat.messages[i - 1] ? (item.attachment && chat.messages[i - 1].from == item.from && chat.messages[i - 1].attachment ? false : true) : true"
                  [ngClass]="{left: item.from != token}">
                  <div class="avatar"
                    *ngIf="chat.messages[i + 1] ? (chat.messages[i + 1].from != item.from ? true : false) : true">
                    <app-img *ngIf="item.avatar" [src]="item.avatar"></app-img>
                  </div>
                  <div class="component">
                    <div class="border">
                      <div class="qtd" *ngIf="item.childsAttachments.length > 4">
                        <div class="value _FONT">{{item.childsAttachments.length}} Anexos</div>
                      </div>
                      <div class="attachments" (click)="zoom(item.childsAttachments)" *ngIf="item.attachment"
                        [ngClass]="{double: item.childsAttachments.length == 2, triple: item.childsAttachments.length == 3, quad: item.childsAttachments.length > 3}">
                        <ng-container *ngFor="let childsAttachment of item.childsAttachments; let d = index;">
                          <div class="attachment" *ngIf="d < 4">
                            <app-img [src]="childsAttachment.attachment.url"></app-img>
                          </div>
                        </ng-container>
                      </div>
                      <div class="msg" *ngIf="!item.attachment">
                        <div class="text _FONT">{{item.text}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
        </div>
      </div>
    </div>
    <div class="footer">
      <form (submit)="sendMessage(msg);msg = ''">
        <input name="msg" [(ngModel)]="msg" class="_FONT" placeholder="Type here" />
      </form>
      <div class="interaction">
        <app-button (click)="openAttachments()">
          <object data="assets/svg/attach.svg" type="image/svg+xml"></object>
        </app-button>
        <app-button>
          <object data="assets/svg/emojis.svg" type="image/svg+xml"></object>
        </app-button>
      </div>
    </div>
  </div>
</app-view>
<input #filesInput type="file"
  accept="image/jpeg, image/png, image/bmp, image/gif, image/svg+xml, audio/webm, audio/ogg, audio/midi, audio/mpeg, audio/wav, video/webm, video/ogg, application/pdf"
  multiple>