:host{
    width: 100%;
    position: relative;
    padding-bottom: 4vw;
    .container{
        width: 100%;
        position: relative;
        border: solid 1px #EDEFF1;
        border-radius: 1vw;

        &.disabled{
            background-color: #FAFBFB;
            pointer-events: none;
            .content{
                .clear, .dots{
                    opacity: 0;
                }
            }
        }


        .content{
            width: 100%;
            &.active{
                .placeholder{
                    transform: translate(0,-5%);
                }
            }
            
            input, select{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 13vw;
                padding: 6vw 12vw 1vw 3vw;
                color: #4B4E58;
                font-size: 4vw;
            }
    
            .placeholder{
                position: absolute; 
                bottom: 50%;
                left: 3vw;
                transform: translate(0,50%);
                font-size: 3.5vw;
                color: #C1C5C7;
                pointer-events: none;
                transition: transform 200ms ease-out 0ms;
            }
    
            .clear{
                position: absolute;
                bottom: 50%;
                right: 3vw;
                transform: translate(0,50%);
                height: 6.5vw;
                width: 6.5vw;
                border-radius: 100%;
                background-color: #EDEFF1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                z-index: 3;
                object{
                    width: 6vw;
                }
            }
    
            .dots{
                position: absolute;
                bottom: 50%;
                right: 3vw;
                transform: translate(0,50%);
                z-index: 3;
                object{
                    height: 6vw;
                }
            }
            .checkbox{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 3vw;
                pointer-events: none;
    
                &.active{
                    .check{
                        background-color: #3880F4;
                        object{
                            opacity: 1;
                        }
                    }
                }
                .check{
                    height: 7vw;
                    width: 7vw;
                    border: solid 1px #EDEFF1;
                    border-radius: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    object{
                        width: 3vw;
                       opacity: 0;
                    }
                    margin-right: 3vw;
                }
                .text{
                    font-size: 3.5vw;
                    color: #4B4E58;
                }
            }
        }
    }

}