<div class="container" [ngClass]="{compact: compact}">
  <app-user-image [type]="type" [avatar]="avatar"></app-user-image>
  <div class="info">
    <p class="name _FONT">{{name}}</p>
    <div class="location">
      <img src="assets/svg/location.svg"/>
      <p class="_FONT">Sao paulo, Brazil</p>
    </div>
    <div class="status">
      <div class="item">
        <img src="assets/svg/star.svg"/>
        <p class="value _FONT">{{ratingEdit(rating)}}</p>
      </div>
      <div class="item">
        <img src="assets/svg/eye.svg"/>
        <p class="value _FONT">{{views}}</p>
      </div>
      <div class="item">
        <img src="assets/svg/heart_fill.svg"/>
        <p class="value _FONT">{{likes}}</p>
      </div>
    </div>
  </div>
</div>