:host{
    width: 100%;
    position: relative;
    &.layout{
        background-color: #ffffff;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        box-shadow: 0 0 5vw 0 rgba(0,0,0,0.4);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .container{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: inherit;
    }
}