:host{
    position: relative;
    div{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &.contain{
            background-size: contain;
        }
    }   
}