<app-view title="Settings">
  <app-form (send)="send($event)" (valid)="valid = true" (invalid)="valid = false" [disabled]="disabled">
    <app-fieldset title="Regional">
      <app-input [value]="language" name="lang" placeholder="Language" type="select" [options]="languages"></app-input>
    </app-fieldset>
    <app-button type="submit" [animation]="true" class="_FONT" [ngClass]="{disabled: !valid}">Save</app-button>
  </app-form>
</app-view>