.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5vw;
    
    app-card-event{
        margin-bottom: 3vw;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
