:host{
    display: block;
    form{
        height: inherit;
        position: relative;
        width: 100%;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
        align-content: inherit;
        justify-items: inherit;
        min-height: inherit;
        flex: 1;
        &.disabled{
            opacity: 0.4;
            pointer-events: none;
        }
    }
}