<app-view title="Meus Events">
  <app-tabs>
    <app-tab title="em aberto">
      <div class="list">
        <app-card-event [compact]="true"></app-card-event>
        <app-card-event [compact]="true"></app-card-event>
        <app-card-event [compact]="true"></app-card-event>
      </div>
    </app-tab>
    <app-tab title="fechados">
      <div class="list">
        <app-card-event [compact]="true"></app-card-event>
        <app-card-event [compact]="true"></app-card-event>
        <app-card-event [compact]="true"></app-card-event>
      </div>
    </app-tab>
    <app-tab title="arquivo">
      <div class="list">
        <app-card-event [compact]="true"></app-card-event>
        <app-card-event [compact]="true"></app-card-event>
        <app-card-event [compact]="true"></app-card-event>
      </div>
    </app-tab>
  </app-tabs>
  <app-button>
      <object data="assets/svg/plus.svg" type="image/svg+xml"></object>
  </app-button>
</app-view>